.git/
.pytest_cache/
__pycache__/
*.py[cod]

.venv/
venv/
env/
ENV/

.env
.env.*
!.env.example

tests/
htmlcov/
.coverage
.mypy_cache/
.ruff_cache/

terraform_output/
build/
dist/
*.egg-info/

.vercel/
.DS_Store
Thumbs.db
